@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Ace Editor */

.ace_gutter-cell.next-line-marker {
  background: #fff7cc;     /* gutter-cell(行番号部分)の背景色 */
  font-weight: bold;
}
.ace_gutter-cell.next-line-marker::after {
  content: '▶';
  position: absolute;   /* セル内で絶対配置 */
  left: 12px;
}

/* ブレークポイント B（左端） */
.ace_gutter-cell.breakpoint-marker::before {
  content: "B";
  position: absolute;
  left: 2px;
}

/* BreakPoint行の背景色（Ace marker用） */
.breakpoint_line {
  position: absolute;
  background: rgba(255, 0, 0, 0.14);
}

/* ウィンドウサイズに合わせてエディタ上のメニュー・ボタンを縮小 */
.buttonBarScaleTop{
  zoom: 1;
}

@media (max-width: 1200px){
  .buttonBarScaleTop{ zoom: 0.9; }
}

@media (max-width: 1000px){
  .buttonBarScaleTop{ zoom: 0.7; }
}

@media (max-width: 800px){
  .buttonBarScaleTop{ zoom: 0.5; }
}

@media (max-width: 600px){
  .buttonBarScaleTop{ zoom: 0.4; }
}

@media (max-width: 400px){
  .buttonBarScaleTop{ zoom: 0.25; }
}

/* ウィンドウサイズに合わせてエディタ下のボタンを縮小 */
.buttonBarScaleDown{
  zoom: 1;
}

@media (max-width: 1200px){
  .buttonBarScaleDown{ zoom: 0.9; }
}

@media (max-width: 1000px){
  .buttonBarScaleDown{ zoom: 0.7; }
}

@media (max-width: 800px){
  .buttonBarScaleDown{ zoom: 0.55; }
}

@media (max-width: 600px){
  .buttonBarScaleDown{ zoom: 0.45; }
}

@media (max-width: 400px){
  .buttonBarScaleDown{ zoom: 0.25; }
}


/* ウィンドウサイズに合わせてVariablesPanelの中身を縮小 */
.varsZoom { zoom: 1; }

@media (max-width: 1200px){
  /* .varsZoom { zoom: 0.95; } */
}

@media (max-width: 1000px){
  .varsZoom { zoom: 0.8; }
}

@media (max-width: 800px){
  .varsZoom { zoom: 0.65; }
}

@media (max-width: 600px){
  .varsZoom { zoom: 0.50; }
}

/* 右側パネルのギャップ */
.rightPanelGap { gap: 3rem;} 

@media (max-height: 800px){
  .rightPanelGap { gap: 2rem;}
}

@media (max-height: 400px){
  .rightPanelGap { gap: 1rem;}
}

/* ガイド中のボタン */
.guideButtonZoom{ zoom: 1; }

@media (max-width: 1000px){
  .guideButtonZoom { zoom: 0.80; }
}

@media (max-width: 800px){
  .guideButtonZoom { zoom: 0.60; }
}

@media (max-width: 600px){
  .guideButtonZoom { zoom: 0.40; }
}
